<!-- header -->
<div class="col-md-12 col-lg-12 hidden-xs hidden-sm header">
	<nav class="fixed-nav-bar">
		<div class="container">
			<div class="navbar-header pull-right">
				<a class="navbar-brand" [ngx-scroll-to]="'#contact'">Contact</a>
			</div>
			<div class="navbar-header pull-right" *ngIf="false">
				<a class="navbar-brand" href="/">Profile</a>
			</div>
			<!--<div class="navbar-header pull-right">-->
				<!--<a class="navbar-brand" href="/home">Home</a>-->
			<!--</div>-->
			<div class="navbar-header pull-right">
				<a class="navbar-brand" [ngx-scroll-to]="'#home'">Home</a>
			</div>
		</div>
	</nav>
</div>

<div class="col-sm-12 col-xs-12 hidden-md hidden-lg header">
	<nav class="fixed-nav-bar" style="width: 100%;">
		<div class="navbar-header" *ngIf="false">
			<a class="navbar-brand" href="/">Profile</a>
		</div>
		<div class="navbar-header pull-right">
			<a class="navbar-brand" [ngx-scroll-to]="'#home'" >Home</a>
		</div>
		<div class="navbar-header pull-right">
			<a class="navbar-brand" [ngx-scroll-to]="'#contact'">Contact</a>
		</div>
	</nav>
</div>
<!-- //header -->