<!--footer-->
<div class="footer">
	<div class="container">
		<p>© 2017 @sivakumar ALL Rights Reserved.
			<span class="falinks footerLinks">
				<a href="https://www.facebook.com/shiva.s.129" target="_top"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
				<a href="https://github.com/sivasagi" target="_top"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a>
				<a href="https://www.linkedin.com/in/siva-kumar-sagi/" target="_top"><i id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
				<a href="mailto:sivakmr149@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
			</span>
		</p>
	</div>
</div>