<!--banner-->
<div id="home" class="banner">
	<div class="banner-info hidden-xs hidden-sm">
		<div class="shadeBack">
			<div class="container">
				<div class="col-xs-12 userName">
					<span class="fontfmly">HI! THIS IS</span>&nbsp;&nbsp;&nbsp;
					<span class="fontfmly">S SIVAKUMAR</span>
				</div>
				<div class="col-xs-12 userRole">
					<span class="fontfmly animated infinite fadeInUp">FULL STACK DEVELOPER, BANGALORE, INDIA</span>
				</div>
				<div class="col-xs-12 aboutMeButtonGroup">
					<a [ngx-scroll-to]="'#about'">
						<button class="btn btn-mg fontfmly">
							<span class="glyphicon glyphicon-hand-right"></span>  ABOUT ME
						</button>
					</a>
				</div>
				<div class="col-xs-12 downloadCvButtonGroup">
					<a target="_self"  href="http://res.cloudinary.com/sivasagi/raw/upload/v1514100119/Siva_3yrs_z7eleo.docx" download="http://res.cloudinary.com/sivasagi/raw/upload/v1514100119/Siva_3yrs_z7eleo.docx" >
						<button class="btn btn-mg btn-personal fontfmly">
							<span class="glyphicon glyphicon-save"></span>  Download My CV
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="banner-infomobi hidden-lg hidden-md">
		<div class="shadeBackmobi">
			<div class="container">
				<div class="col-xs-12 userNameMobile">
					<span class="fontfmly">HI! THIS IS</span>&nbsp;&nbsp;&nbsp;
					<span class="fontfmly">S Sivakumar</span>
				</div>
				<div class="col-xs-12 userRoleMobile">
					<span class="fontfmly">FULL STACK DEVELOPER, BANGALORE, INDIA</span>
				</div>
				<div class="col-xs-12 aboutMeButtonGroupMobile">
					<a [ngx-scroll-to]="'#about'">
						<button class="btn btn-mg fontfmly">
							<span class="glyphicon glyphicon-hand-right"></span>  ABOUT ME
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//banner-->
<!--top-nav-->
<div class="top-nav wow hidden-xs hidden-sm">
	<div class="container">
		<div class="navbar-header logo">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				Menu
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="menu">
				<ul class="nav navbar">
					<li><a [ngx-scroll-to]="'#about'" class="scroll">About</a></li>
					<li><a [ngx-scroll-to]="'#work'" class="scroll">Experience</a></li>
					<li><a [ngx-scroll-to]="'#education'" class="scroll">Education</a></li>
					<li><a [ngx-scroll-to]="'#skills'"  class="scroll">Skills</a></li>
					<li><a [ngx-scroll-to]="'#projects'"  class="scroll">My Projects</a></li>
					<li><a [ngx-scroll-to]="'#contact'"  class="scroll">Contact</a></li>
				</ul>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--//top-nav-->
<!--about-->
<div id="about" class="about">
	<div class="container">
		<h3 class="title"> About Me</h3>
		<div class="col-xs-12">
			<div class="col-md-4 col-xs-12 myStory" [ngClass]="(data1 == true)?'animated fadeInLeft':''">
				<span class="fontfmly">
					MY STORY
				</span>
				<p>	An accomplished full-stack software developer with 3+ years of experience in developing web application.
					Currently working with Amiti Software Technologies, Bangalore as Software Developer, I am involved with designing and developing scalable auction platform for e-commerce industry.
				</p>
				<br>
				<p> Among other stuff, I would like to cook and play sports like volleyball,cricket,badminton</p>
			</div>
			<div class="col-md-4 col-xs-12 myImage" [ngClass]="(data1 == true)?'animated zoomIn':''" >
				<!--  http://res.cloudinary.com/sivasagi/image/upload/a_0360/v1514094916/IMG_7072_vfiiws.jpg -->
				<img src="http://res.cloudinary.com/sivasagi/image/upload/v1514377945/IMG_7460_mlhlvn.jpg"  class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
			</div>
			<div class="col-md-4 col-xs-12 person-info myPersonalInfo" [ngClass]="(data1 == true)?'animated fadeInRight':''" >
				<span class="fontfmly">
					PERSONAL INFORMATION
				</span>
				<h5 class="myPersonalInfoName"><span>Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Sivakumar S </h5>
				<h5><span>Email :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="mailto:sivakmr149@gmail.com">sivakmr149@gmail.com</a></h5>
				<h5><span>Mobile No :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>+91- 7795 779 086 </h5>
				<h5><span>Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 24 Years</h5>
				<h5><span>Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Single </h5>
				<h5><span>Address :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Bangalore, India</h5>
				<span class="falinks">
						<div>
							<a href="https://www.facebook.com/shiva.s.129" target="_top" style="color: #D5D4D4;"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
							<a href="https://github.com/sivasagi" target="_top" style="color: #D5D4D4;"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a>
							<a href="https://www.linkedin.com/in/siva-kumar-sagi/" target="_top" style="color: #D5D4D4;"><i id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
							<a href="mailto:sivakmr149@gmail.com" style="color: #D5D4D4;"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
						</div>
				</span>
			</div>
		</div>
	</div>
</div>
<!--//about-->
<!--work-experience-->
<div id="work" class="work">
	<div class="container">
		<h3 class="title">Work Experience</h3>
		<div class="work-info">
			<div class="col-md-6 col-xs-12 work-left">
				<h4>April 2017 - currenr </h4>
			</div>
			<div class="col-md-6 col-xs-12 work-right">
				<h5><span class="glyphicon glyphicon-briefcase"> </span> Amiti software technologies Pvt Ltd.</h5>
				<h6> Software Developer</h6>
				<p>Involved with designing and developing scalable auction platform. Roles included User Interface web development in accordance with requirements,Mapping business requirements to application features and the most suited technology to provide business value.</p>
				<p>Technologies used: HTML, CSS, Bootstrap, Angular(angular4), Java script, NodeJS, MongoDB.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info">
			<div class="col-md-6 col-xs-12 work-left">
				<h4>October 2015 - April 2017 </h4>
			</div>
			<div class="col-md-6 work-right">
				<h5><span class="glyphicon glyphicon-briefcase"> </span> Makery Labs Pvt Ltd.</h5>
				<h6> Software Engineer</h6>
				<p>Involved with designing and developing scalable B2B web platform. Roles included User Interface web development in accordance with requirements,Mapping business requirements to application features and the most suited technology to provide business value.</p>
				<p>Technologies used: HTML, CSS, Bootstrap, AngularJS, Java script, NodeJS, MongoDB, ElasticSearch.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info">
			<div class="col-md-6 col-xs-12 work-left">
				<h4>August 2014 - October 2015 </h4>
			</div>
			<div class="col-md-6 col-xs-12 work-right">
				<h5><span class="glyphicon glyphicon-briefcase"> </span> Stratvave Innovations Pvt Ltd.</h5>
				<h6> Software Developer</h6>
				<p>Design and Development "e-commerce platform" in Web(iRupiya) using HTML, CSS, JS, jQuery, Bootstrap, nodejs, express js and MySQL. </p>
				<p>Design and Development "social collaborative" in web and mobile platform(SoNNet) using HTML, CSS, JS, jQuery, Bootstrap, nodejs, express js and MySQL.</p>
				<p>Technologies used: HTML, CSS, Bootstrap, JQuery, Java script, NodeJS, MySQL.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//work-experience-->
<!--education-->
<div id="education" class="education">
	<div class="container">
		<h3 class="title">Education</h3>
		<div class="work-info">
			<div class="col-md-6 work-left">
				<h4>B.Tech in electrical and electronics engineering, 2010-2014</h4>
			</div>
			<div class="col-md-6 work-right">
				<h5><span class="glyphicon glyphicon-education"> </span> Audisankara Institute of Technology, Nellore.</h5>
				<p>Courses: studied Electrical Machines, Control systems, C language and MatLab etc....</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info">
			<div class="col-md-6 work-right work-right2">
				<h4>Higher Secondary Schooling in MPC 2008- 2010</h4>
			</div>
			<div class="col-md-6 work-left work-left2">
				<h5> Board of Intermediate Education Govt. of Andhra Pradesh <span class="glyphicon glyphicon-education"></span></h5>
				<p>Completed my Higher Secondary Schooling in MPC. Major subjects were Physics, Chemistry, Maths.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- <div class="work-info">
			<div class="col-md-6 work-left">
				<h4>MongoDB for NodeJs Developers, 2016</h4>
			</div>
			<div class="col-md-6 work-right">
				<h5><span class="glyphicon glyphicon-education"> </span> MongoDB University</h5>
				<p>Learn basic installation of MongoDB, JSON, schema design, querying, insertion of data, indexing and working with language drivers. The course project involves building an e-commerce platform with MongoDB.</p>
			</div>
			<div class="clearfix"> </div>
		</div> -->
	</div>
</div>
<!--//education-->
<!--skills-->
<div id="skills" class="skills">
	<div class="container">
		<h3 class="title">Skills</h3>
		<div class="skills-info">
			<div class="col-md-6 bar-grids">
				<h6>HTML<span>90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 90%">
					</div>
				</div>
				<h6> CSS<span> 90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 95%">
					</div>
				</div>
				<h6>Angular <span> 85% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 85%">
					</div>
				</div>
				<h6>Bootstrap<span> 95% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 95%">
					</div>
				</div>
			</div>
			<div class="col-md-6 bar-grids">
				<h6>MongoDb <span> 75% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 75%">
					</div>
				</div>
				<h6>NodeJS <span> 70% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 70%">
					</div>
				</div>
				<!-- <h6>ElasticSearch<span>70% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 70%">
					</div>
				</div> -->
				<h6>Git/GitHub,Atlassian JIRA,WebStorm 7, Sublime<span> 85% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 85%">
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//education-->
<!--portfolio-->
<div id="projects" class="portfolio">
	<div class="container">
		<h3 class="title wow zoomInLeft animated" data-wow-delay=".5s">My Projects</h3>
		<ul class="list-group">
			<li class="list-group-item listOfMyProjects">
				<span>GitHub Search Repositories</span>
				<a href="https://github.com/sivasagi/github-search-repositories">
					<i class="fa fa-github-square fa-3x social"></i>
				</a> 
				<div>
					<span>Description : </span>
					<span>Simple single page application where we can searrch github repositories using angular4</span>
				</div>
			</li>

		</ul>
	</div>
</div>
<div class="welcome contact" id="contact">
	<div class="container">
		<h3 class="title">Contact Me</h3>

		<div class="contact-row">
			<div class="col-md-6 contact-left">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.200085665817!2d77.58178606482124!3d12.89485204090624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1538c6eaa6cf%3A0x9a749c23f1ab8a41!2sBOB+Colony%2C+Phase+7%2C+JP+Nagar%2C+Bengaluru%2C+Karnataka!5e0!3m2!1sen!2sin!4v1514097616200" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 contact-right">
				<div class="address-left">
					<p>#97/3, BOB Colony, JP Nagar 7th phase, Bangalore - 560078<br> KA, India. </p>
				</div>
				<div class="address-right">
					<p>Call us :  +91 7795 779 086</p>
					<p>E-mail : <a href="mailto:sivakmr149@gmail.com">sivakmr149@gmail.com</a></p>
				</div>
				<div class="clearfix"></div>
				<div class="contact-form">
					<form (ngSubmit)="submitData(f)" #f="ngForm">
						<input type="text" placeholder="Name" name="name" [(ngModel)]="name" required="">
						<input class="email" type="text" name="email" placeholder="Email" [(ngModel)]="email" required>
						<input class="phone" type="text" name="phone" placeholder="Phone" [(ngModel)]="phone" required>
						<textarea name="Message" name="message" placeholder="Message" [(ngModel)]="message" required></textarea>
						<input [disabled]="f.invalid" type="submit" value="SUBMIT">
					</form>
				</div>
				<div class="thankuMessage" *ngIf="showMessage">
					Thanku for contacting me i will get back to you as earliest!
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>